.mouseOver {
  text-decoration: underline;
}

.mouseOut {
  text-decoration: none;
}

.replyCount{
  color: #999999;
  margin-left: 3px;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  color: inherit;
  background-color: inherit;
}

