.mouseOver {
  text-decoration: underline;
}

.mouseOut {
  text-decoration: none;
}

.replyCount{
  color: #999999;
  margin-left: 3px;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  color: inherit;
  background-color: inherit;
}

.icon{
  width: 3px;
  height: 3px;
}

.font{
  font-family: Noto Sans KR !important;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.favIcon{
  background-image: url("../../public/img/z.png");
  background-size: contain;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.symIcon{
  background-image: url("../../public/img/q.png");
  background-size: contain;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.myIcon{
  background-image: url("../../public/img/h.png");
  background-size: contain;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 5px;
}


