.flex {
    max-width: 1240;
  font-size: large;
}

.flexSub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 7% auto 0 auto;
}

.item {
  font-size: large;
}

.heading {
  font-size: x-large;
  margin-bottom: 1%;
}
