.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 7% auto 0 auto;
}

.item{
    font-size: large;
}

.heading{
    font-size: x-large;
    margin-bottom: 1%;
}