.flex{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.inherit{
    height: inherit;
}

.frame{
    max-width: 1240px;
    margin: 5% auto 0 auto;
}

.textArea{
    width: 70%;
    margin-top: 7%;
}

.h{
    font-size: x-large;
    margin-bottom: 2%;
}

.h2{
    font-size: large;
}

.h3{
    font-size: medium;
}

.btnFrame{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.btn{
    margin-top: 1%;
    margin-left: 35%;
}