.flex{
    height: auto;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item{
    margin-bottom: 5px;
}

.icon{
    font-size: 10px;
    color: gray !important;
}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #e5e7eb;
    color: gray;
    font-family: none;
    font-size: 11px;
}