.frame {
  display: flex;
  height: inherit;
}

.frameSub {
  max-width: 1240px;
  margin: 20px auto 0px auto;
  display: flex;
  width: 100%;
}

@media (min-width: 1040px) {
  .leftBar {
    width: 200px;
  }

  .rightBar {
    width: 200px;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 0px auto;
    width: 100%;
  }

  .middleSub {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }

  .middleDang {
    width: 50%;
  }

  .middleCom {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .commingSoon {
    display: flex;
    align-items: center;
    height: 40%;
    font-size: larger;
  }
}

@media (max-width: 1040px) and (min-width: 768px) {
  .leftBar {
    display: none;
  }

  .rightBar {
    display: none;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 0px auto;
    width: 100%;
  }

  .middleSub {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }

  .middleDang {
    width: 50%;
  }

  .middleCom {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .commingSoon {
    display: flex;
    align-items: center;
    height: 40%;
    font-size: larger;
  }
}

@media (max-width: 768px) {
  .leftBar {
    display: none;
  }

  .rightBar {
    display: none;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 0px auto;
    width: 100%;
  }

  .title {
    display: none;
  }

  .middleSub {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .middleCom {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .middleDang {
    width: 95%;
  }

  .commingSoon {
    display: none;
  }
}

.middleDang {
  padding-bottom: 15px;
}

.title {
  padding-top: 15px;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.headWriting {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 13px;
}

.flexTwoRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.naming {
  font-size: 22px;
  font-family: OKGUNG;
}

/*Weeckly 글 마우스 이펙트*/

.out {
  color: inherit;
  padding-top: 4px;
  margin: auto 0 auto 0;
}

.com {
  width: 95%;
}

.comHead {
  height: 50px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
}

.comTable {
  height: auto;
  width: 97%;
  margin: 0 auto 20px auto;
}

.img {
  width: 50px;
  height: 50px;
}

.imgHonja {
  width: 70px;
  height: 70px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60px;
  border-bottom: 1px solid gainsboro;
}

.tableSub {
  display: flex;
}

.tableSub2 {
  display: flex;
}

.span {
  margin: auto 0 auto 0;
  color: inherit;
  padding-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spanWriting {
  margin: auto 0 auto 0;
  background-color: #384244;
  color: white;
  padding: 4px 2px 1px 2px;
  border-radius: 6px;
  margin-right: 7px;
  font-size: 11px;
  white-space: nowrap;
}

.spanCom2 {
  margin: auto 0 auto 0;
  background-color: #384244;
  color: white;
  padding: 3px 5px 1px 5px;
  border-radius: 20px;
  margin-left: 7px;
  font-size: smaller;
}

.spanCom1 {
  margin: auto 0 auto 0;
  background-color: #384244;
  color: white;
  padding: 3px 5px 1px 5px;
  border-radius: 20px;
  margin-left: auto;
  font-size: smaller;
}

.spanDate {
  margin: auto 0 auto 8px;
  color: rgb(199, 196, 196);
  padding-top: 4px;
}

.count {
  margin-left: auto;
  padding-top: 4px;
  white-space: nowrap;
}


/*weeckly*/

.weeckly{
  width: 100%;
}

.weecklySub{
  max-width: 1240px;
  margin: 0 auto 0 auto;
}

/*weeckly*/
