.group {
  background-color: #e5e7eb;
  padding: 4px 20px 4px 20px;
  border-radius: 20px;
  margin: 5px 10px 5px 10px;
  border: 1px solid white;
  color: black;
}

.mouseOver {
  border: 1px solid #1890ff;
  color: #1890ff;
  background-color: #e5e7eb;
  padding: 4px 20px 4px 20px;
  border-radius: 20px;
  margin: 0 10px 0 10px;
}

.dang{
  background-color: #e5e7eb;
  padding: 4px 20px 4px 20px;
  border-radius: 20px;
  border: 1px solid white;
  color: black;
  margin: 10px 0 5px 0;
}

.mouseOverDang{
  border: 1px solid #1890ff;
  color: #1890ff;
  background-color: #e5e7eb;
  padding: 4px 20px 4px 20px;
  border-radius: 20px;
  margin: 10px 0 5px 0;
}

.groupFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
  font-size: 15px;
  margin: 10px auto 10px auto;
}



.groupFlexCreater {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: inherit;
  background-color: inherit;
  font-size: 14px;
  color: black;
}

.groupFlexCreaterJob {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: inherit;
  background-color: inherit;
  font-size: 14px;
  color: black;
  border-bottom: 1px solid #e5e7eb;
}

.groupFlexCreaterH {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: inherit;
  background-color: inherit;
}

.hashtag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: inherit;
  background-color: inherit;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  color: black;
}

.groupTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.groupTopCreater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.click {
  border: 1px solid #1890ff;
  color: white;
  background-color: #1890ff;
  padding: 4px 20px 4px 20px;
  border-radius: 20px;
  margin-right: 15px;
}
