.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.flexHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0 auto 0 auto;
}

.flexHomeMargin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 10% auto 0 auto;
}

.flexCom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 250px;
  margin-bottom: 30px;
}

.flexCommunity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexThinBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 7px;
}

.flexCommunity2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 7px 0px 7px 0;
}

/*테이블과 광고 css*/
@media (min-width: 1024px) {
  .board {
    width: 75%;
  }

  .boardRight {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .board {
    width: 100%;
  }

  .boardRight {
    display: none;
  }
}

@media (max-width: 768px) {
  .board {
    width: 100%;
  }

  .boardRight {
    display: none;
  }
}

.flexWrite {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 7px 0px 7px 0;
  padding: 1% 0 0 1%;
  border: 1px solid #d5d5d5;
}

.stepDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 20px;
  background-color: inherit !important;
  color: inherit !important;
}

.step {
  width: 60%;
}

.loginPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: inherit;
  height: auto;
}

.loginSub {
  max-width: 1240px;
  margin: 15% auto 0 auto;
}

@media (min-width: 575px) {
  .message {
    margin: 0 0 20px 120px;
  }
}

@media (max-width: 575px) {
  .message {
    margin: 0 0 20px 0px;
  }
}
