@media(min-width: 1024px) {
    .menuDetail{
        display: flex;
        justify-content: flex-start;
        margin: 0 auto 0 auto;
        max-width: 1240px;
    }
    
}

@media(max-width: 1024px) and ( min-width: 768px){
    .menuDetail{
        display: flex;
        justify-content: flex-start;
        margin: 0 auto 0 auto;
    }
}

@media(max-width: 768px) {
    .menuDetail{
        display: flex;
        justify-content: flex-start;
        margin: 0 auto 0 auto;
    }
    
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.flexMenus{
    font-size: large;
    background-color: #232F3E;
    color: white;
    font-family: 'GangwonEdu_OTFBoldA';
    height: 48px;
}

.flexMobile{
    font-size: large;
    background-color: #232F3E;
    color: white;
    width: 100%;
    height: 48px;
}


.flexItem{
    padding: 10px 12px 10px 12px;
}

.logo{
    padding: 10px 12px 10px 10px;
   
    
}
.logoMargin{
    padding: 10px 12px 10px 12px;
}


.flexItemLast{
    padding: 10px 10px 10px 15px;
    margin-left: auto;
}




