.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.flexMenus{
    font-size: large;
    background-color: #232F3E;
    color: white;
    width: 100%;
    font-family: 'SDSamliphopangche_Outline';
}

.flexMobile{
    font-size: large;
    background-color: #232F3E;
    color: white;
    width: 100%;
    height: 53px;
}

.menuDetail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1240px;
    margin: 0 auto 0 auto;
}

.flexItem{
    padding: 10px 12px 10px 12px;
}

.logo{
    padding: 10px 12px 10px 0;

    
}
.logoMargin{
    padding: 10px 12px 10px 12px;
    
}


.flexItemLast{
    padding: 10px 0 10px 15px;
    margin-left: auto;
}




