

@media (min-width: 1024px) {
  .ad{
    width: 25%;
  }

  .adLeft{
    width: 75%;
  }
}

@media (max-width: 1024px) {
  .ad{
    display: none;
  }

  .adLeft{
    width: 100%;
  }
  
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  margin: 7px 0px 7px 0;
}

.content {
  max-height: auto;
  min-height: 300px;
  margin-top: 5px;
  margin-left: 2%;
  font-size: 17px;
}

.heading {
  font-size: x-large;
  margin-bottom: 20px;
  padding-left: 10px;
  text-decoration: none;
}

.detail {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  padding: 5px 10px 5px 10px;
}

.writer {
  margin-left: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detail2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
}

.date {
  margin-right: 5px;
}



.item1{
  margin-right: 7px;
  margin-left: auto;
}

.item2{
  margin-right: 7px
}

.detail,
.item1,
.item2,
.item3{
  white-space: nowrap;
}

.btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 70px 0px 70px 0px;
}

.symBtn{
  display: flex;
}

.symWord{
  margin-left: 3px;
}

.symCount{
  color: #40a9ff;
  border-color: #40a9ff;
}



